[MASTER]
# Directories or files to ignore
ignore=venv,migrations,__pycache__
# Load plugins (if needed)
load-plugins=

# Python version (adjust if needed)
py-version=3.11

[MESSAGES CONTROL]
# Disable some messages that are less important
disable=
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring
    R0903,  # too-few-public-methods
    R1735,  # use-dict-literal
    W0511,  # fixme
    W0613,  # unused-argument
    W0641,  # possibly-unused-variable
    W0120,  # useless-else-on-loop
    R1705,  # no-else-return
    R1707   # trailing-comma-tuple

[FORMAT]
# Maximum number of characters on a line
max-line-length=120
# String used as indentation unit
indent-string='    '

[REPORTS]
# Set the output score display
reports=yes
score=yes

[TYPECHECK]
# Ignore missing imports from virtualenv packages
ignored-modules=setuptools,numpy,more_itertools

[DESIGN]
# Maximum number of arguments for function / method
max-args=7
# Maximum number of local variables
max-locals=15
# Maximum number of attributes for a class
max-attributes=10
